@page
@model AppointmentBooking.Pages.Appointments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Client.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Remarks)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Appointment.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
